<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://northeurope.azuredatabricks.net/"/>
    <add key="TokenFileLocation" value="C:\Users\sacha\Desktop\databrick-azure-spark-demo\MyDataBricksToken.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>